<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <div class="footer-main">
    <h3>Social Media</h3>
                        <ul>
                            <p>Follow in: </p>
                            <a href="#" class="hover"><i class="fab fa-facebook hover" aria-hidden="true"></i> Facebook</a>
                            <a href="#" class="hover"><i class="fab fa-instagram hover" aria-hidden="true"></i> Instagram</a>
                        </ul>
</div>

                        <div class="footer-copyright">
                            <p>Made with <i class="fas fa-heart"></i> by CHARNIS DANA - Worldwide 2022 - All Rights Reserved.
                            </p>
                        </div>
</body>
</html>