<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>header</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href=""> <img class="logo" src="public/images/varios/97f09b9e-5bfd-4942-b562-fd0c7e6633e5.jpg" alt=""></a>
            </ul>
        </nav>
    </header>
</body>
</html>