<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>

<body>
    «Mi formación artística viene principalmente de mis padres. Mi madre poeta y mi padre artista plástico me enseñaron
    más de lo que yo imaginaba y quizás menos de lo que ellos esperaban. Mi mamá siempre me prestaba su máquina de
    escribir y mi papá me llevaba al cine a ver películas de Woody Allen en la época en que yo soñaba con ser miembro
    del Equipo A. Mi formación académica estuvo marcada por el caos. No acabé el Conservatorio de música, ni la carrera
    de Derecho, ni la de Psicología, ni tres o cuatro más. Competí en ajedrez, judo, natación y rugby. Sólo conseguí un
    diploma en mi vida y fue en lo único que había soñado desde pequeño: soy piloto».

    Con esta carta de presentación se da a conocer en Málaga Martín Favelis, un humorista gráfico argentino afincado en
    Granada, que ha publicado sus viñetas en prensa y revistas nacionales y extranjeras y que tiene en su haber el
    Premio Nacional de Humor Gráfico de su país natal. Sus particulares dibujos llenan de ironía y de vida las páginas
    del segundo volumen de la colección de humor gráfico del sello malagueño Grupo Editorial 33, que celebra su décimo
    aniversario con 'Planeta Favelis', una obra que se suma a 'Planeta Elgar', editada el año pasado, y que se presenta
    hoy en FNAC Málaga.

    En total son unas doscientas viñetas, cuarenta de ellas inéditas, que se clasifican en función de su temática: el
    poder de la política, el mundo, la guerra, la solidaridad, la amistad, la verdad, el conocimiento, el arte, la vida,
    la salud, el dinero y 'sobre Dios'.
</body>

</html>